.footer-navigation__item {
    margin-right: 18px;
    transition: opacity .1s linear;
}

.footer-navigation__item:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .footer-navigation__item {
        margin-bottom: 32px;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .footer-navigation__item:last-child {
        margin-bottom: 48px;
    }
}

.footer-navigation__item:hover {
    opacity: 0.8;
}