.cover__background {
    background-image: url(../../../images/__background.jpg);
    width: 100%;
    display: flex;
    background-size: cover;
    height: 740px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

@media (max-width: 1024px) {
    .cover__background {
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__background {
        height: 480px;
    }
}

@media (max-width: 425px) {
    .cover__background {
        height: 200px;
    }
}

.cover__background::before {
    display: block;
    content: "";
    background: #2A2C2F;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    transition: opacity .1s linear;
}

.cover__background:hover::before {
    opacity: 80%;
}